<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mathuto"
        tools:targetApi="31">

        <activity
            android:name=".FullScreenVideoActivity"
            android:screenOrientation="landscape"
            android:exported="false" />

        <activity
            android:name=".ProgressMonitoringActivity"
            android:exported="false" />
        <activity
            android:name=".FullScreenImageActivity"
            android:exported="false" />
        <activity
            android:name=".CalculatorActivity"
            android:exported="false" />




        <activity
            android:name=".quiz.summary.Summary1Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.summary.Summary2Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.summary.Summary3Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.summary.Summary4Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.summary.Summary5Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.summary.Summary6Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.summary.Summary7Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.summary.Summary8Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.summary.Summary9Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.summary.Summary10Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.summary.Summary11Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.summary.Summary12Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.summary.Summary13Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.summary.Summary14Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.summary.Summary15Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.summary.Summary16Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.summary.Summary17Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.summary.Summary18Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.summary.Summary19Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />




        <activity
            android:name=".quiz.result.Result1Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.result.Result2Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.result.Result3Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.result.Result4Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.result.Result5Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.result.Result6Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.result.Result7Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.result.Result8Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.result.Result9Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.result.Result10Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.result.Result11Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.result.Result12Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.result.Result13Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.result.Result14Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.result.Result15Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.result.Result16Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.result.Result17Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.result.Result18Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.result.Result19Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />




        <activity
            android:name=".quiz.Quiz1Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz"/>
        <activity
            android:name=".quiz.Quiz2Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.Quiz3Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.Quiz4Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.Quiz5Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.Quiz6Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.Quiz7Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.Quiz8Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.Quiz9Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.Quiz10Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.Quiz11Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.Quiz12Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz"/>
        <activity
            android:name=".quiz.Quiz13Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.Quiz14Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.Quiz15Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.Quiz16Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.Quiz17Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.Quiz18Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />
        <activity
            android:name=".quiz.Quiz19Activity"
            android:exported="false"
            android:theme="@style/Theme.Mathuto.Quiz" />



        <activity
            android:name=".tutorial.Tutorial1Activity"
            android:exported="false" />
        <activity
            android:name=".tutorial.Tutorial2Activity"
            android:exported="false" />
        <activity
            android:name=".tutorial.Tutorial3Activity"
            android:exported="false" />
        <activity
            android:name=".tutorial.Tutorial4Activity"
            android:exported="false" />
        <activity
            android:name=".tutorial.Tutorial5Activity"
            android:exported="false" />
        <activity
            android:name=".tutorial.Tutorial6Activity"
            android:exported="false" />
        <activity
            android:name=".tutorial.Tutorial7Activity"
            android:exported="false" />
        <activity
            android:name=".tutorial.Tutorial8Activity"
            android:exported="false" />
        <activity
            android:name=".tutorial.Tutorial9Activity"
            android:exported="false" />
        <activity
            android:name=".tutorial.Tutorial10Activity"
            android:exported="false" />
        <activity
            android:name=".tutorial.Tutorial11Activity"
            android:exported="false" />
        <activity
            android:name=".tutorial.Tutorial12Activity"
            android:exported="false" />
        <activity
            android:name=".tutorial.Tutorial13Activity"
            android:exported="false" />
        <activity
            android:name=".tutorial.Tutorial14Activity"
            android:exported="false" />
        <activity
            android:name=".tutorial.Tutorial15Activity"
            android:exported="false" />
        <activity
            android:name=".tutorial.Tutorial16Activity"
            android:exported="false" />
        <activity
            android:name=".tutorial.Tutorial17Activity"
            android:exported="false" />
        <activity
            android:name=".tutorial.Tutorial18Activity"
            android:exported="false" />
        <activity
            android:name=".tutorial.Tutorial19Activity"
            android:exported="false" />
        <activity
            android:name=".lessons.Lesson1Activity"
            android:exported="false" />
        <activity
            android:name=".lessons.Lesson2Activity"
            android:exported="false" />
        <activity
            android:name=".lessons.Lesson3Activity"
            android:exported="false" />
        <activity
            android:name=".lessons.Lesson4Activity"
            android:exported="false" />
        <activity
            android:name=".lessons.Lesson5Activity"
            android:exported="false" />
        <activity
            android:name=".lessons.Lesson6Activity"
            android:exported="false" />
        <activity
            android:name=".lessons.Lesson7Activity"
            android:exported="false" />
        <activity
            android:name=".lessons.Lesson8Activity"
            android:exported="false" />
        <activity
            android:name=".lessons.Lesson9Activity"
            android:exported="false" />
        <activity
            android:name=".lessons.Lesson10Activity"
            android:exported="false" />
        <activity
            android:name=".lessons.Lesson11Activity"
            android:exported="false" />
        <activity
            android:name=".lessons.Lesson12Activity"
            android:exported="false" />
        <activity
            android:name=".lessons.Lesson13Activity"
            android:exported="false" />
        <activity
            android:name=".lessons.Lesson14Activity"
            android:exported="false" />
        <activity
            android:name=".lessons.Lesson15Activity"
            android:exported="false" />
        <activity
            android:name=".lessons.Lesson16Activity"
            android:exported="false" />
        <activity
            android:name=".lessons.Lesson17Activity"
            android:exported="false" />
        <activity
            android:name=".lessons.Lesson18Activity"
            android:exported="false" />
        <activity
            android:name=".lessons.Lesson19Activity"
            android:exported="false" />



        <activity
            android:name=".menu.IntroductoryMessageActivity"
            android:exported="false" />
        <activity
            android:name=".menu.TableOfContentsActivity"
            android:exported="false" />
        <activity
            android:name=".menu.DevelopmentTeamActivity"
            android:exported="false" />
        <activity
            android:name=".AboutActivity"
            android:exported="false" />
        <activity
            android:name=".MainScoresActivity"
            android:exported="false" />
        <activity
            android:name=".onboarding.OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.Mathuto">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>